header
  .header
    a(href="#")
      img(src="../images/Jadoo.svg", alt="logo")
    nav
      ul.nav
        li.nav__item
          a(href="#").nav__text.active Desitnations
        li.nav__item
          a(href="#").nav__text Hotels
        li.nav__item
          a(href="#").nav__text Flights
        li.nav__item
          a(href="#").nav__text Bookings
    ul.login
      li.login__item
        a(href="#").login__text.active Login
      li.login__item
        a(href="#").login__text Sign up
      select(name="lang" id="input0" required="required")
        option(value="EN") EN
        option(value="RU") RU   

          
                  

